# Framework
fastapi==0.136.1
fastapi-cli==0.0.24
uvicorn==0.46.0

# Base de datos
SQLAlchemy==2.0.49
psycopg2-binary==2.9.12
alembic==1.18.4

# Validación
pydantic==2.13.3
pydantic-extra-types==2.11.1
email-validator==2.3.0

# Autenticación
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.27

# Config
python-dotenv==1.2.2

# Rate limiting
slowapi==0.1.9

# Monitoreo
sentry-sdk==2.58.0
